<% layout('layout/default') -%>
<% script('/assets/js/form.js') -%>

<h1>Twitter Bearer Token Creator</h1>

<h3>Easily create a twitter app-level bearer token credentials.</h4>

<p>Simply enter your consumer key and consumer secret provided by Twitter via their 
	<a href="https://dev.twitter.com/apps" target="_blank">dev center</a>.</p>
	
<p>We do not record any information. We simply pass your key and secret to twitter. If you prefer to do this
offline, <a href="https://github.com/DeuxHuitHuit/twitter-bearer-token" target="_blank">download the project</a> and run it on your machine.</p>

<form action="/create" method="POST">
	<style scoped>
		label {
			display: block;
		}
		input {
			width: 300px;
		}
	</style>
	<fieldset>
		<label>
			Consumer key: 
			<input id="txt-key" name="key" />
		</label>
		
		<label>
			Consumer scret: 
			<input id="txt-secret" name="secret" />
		</label>
		
		<button id="btn-generate">Generate</button>
	</fieldset>
	
	<pre id="result">
	
	</pre>
</form>