<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />
	<meta name="description" content="Easily create a twitter app-level bearer token credentials" />
    <meta name="author" content="@deuxhuithuit" />
    <meta name="copyrights" content="DeuxHuitHuit" />
	
	<title><%= title %></title>

</head>
<body>
	<div id="content">
		<%-body -%>
	</div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
	
	<%-scripts%>
</body>
</html>